@inherits LayoutComponentBase
<CascadingBlazoredModal />
<div class="page">
    <div class="sidebar" id="sidebar">
        <NavMenu />
    </div>

    <main id="main">
       @* <div class="top-row px-4 auth" id="top-row">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article id="appWorkspace">
            @Body
        </article>
    </main>
</div>
