/* ------------------------ */
:root {
    --square-size: 2rem;
    --multiplier-square-size: 2.4rem;
    --multiplier-square-offset: .5vw;
    --board-letter-fs: 1.5rem;
    --board-letter-value-fs: 0.25rem;
    --board-square-annotation-fs: 1.5rem;
    --tile-rack-size: 5vw;
}

article.content {
    padding-top: 0;
}

.game-card {
    margin-bottom: 1rem;
    transition: 0.3s;
}

a.game-link {
    text-decoration: none;
}

a.game-link:hover {
    text-decoration: none;
}

    a.game-link:hover .game-card {
        transform: scale(1.03);
    }


text-center {
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 50;
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

    .overlay .overlay-content {
        width: 150px;
        height: 50px;
        background-color: white;
        border: 4px double;
        display: inline-flex;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

        .overlay .overlay-content h4 {
            margin: 0;
        }

.chat-messages p.msg {
    margin: 0;
}

    .chat-messages p.msg .msg-meta {
        display: inline-block;
        width: 100%;
    }

    .chat-messages p.msg .msg-meta .who {
        font-weight: bold;
    }

    .chat-messages p.msg .msg-meta .when {
        font-size: 13px;
        font-weight: 200;
    }

    .chat-messages p.msg .what {
        display: inline-block;
        width: 100%;
    }


.bm-content {
    overflow-y: auto;
}

.blazored-modal {
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.new-game-position .blazored-modal {
    position: absolute;
    top: 20%;
    bottom: unset;
    left: 30%;
}

.chat-position .blazored-modal {
    position: absolute;
    height: 500px;
    bottom: 20%;
    right: 10%;
}

/* for chat input box*/
textarea {
    border: 1px dashed #888;
    border-radius: 5px;
    width: 80%;
    overflow: auto;
    background: #f7f7f7
}

/*
.chat-alert {
    background-color: greenyellow;
}


.next-game-nudge {
    color: white;
    background-color: purple;
}
*/

.professor-owl {
    display: flex;
    flex-direction: column;
    background-image: url("/Images/ProfessorOwl2.png");
    background-size: 100% 100%;
    width: var(--tile-rack-size, 5vw);
    height: var(--tile-rack-size, 5vw);
    color: white;
    text-align: center;
    margin-right: 10px;
}

.professor-icon {
    width: var(--tile-rack-size, 5vw);
    height: var(--tile-rack-size, 5vw);
}

.professor-dialog-new {
    display: flex;
    background-color: lightblue;
    color: black;
    border: 1px;
    padding: 8px;
}

.owl-checkbox-icon {
    display: inline-flex;
    background-image: url("/images/ProfessorOwl2.png");
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

/*
.tile-bag-area {
    display: inline-flex;
}
    */


.game-board-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.scoreboard {
    background-color: lightblue;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.game {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    .game .game-element-container {
        display: inline-block;
    }

.game-board {
    display: grid;
    grid-template-columns: repeat(15, var(--square-size));
    gap: var(--row-column-gap, 2px);
    padding: var(--grid-border-padding, 4px);
    border: var(--grid-border-width, 3px) solid darkred;
}

.action-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

/*
.square-row {
    display: flex !important;
}
*/

/* square-space and rack-space */
/* the size of a letter piece on the board and on the rack */
/* might make sense to rename square-space to board-space ? */
.square-space {
    width: var(--square-size);
    height: var(--square-size);
    cursor: default;
    user-select: none;
    /*min-width: var(--square-size);
    min-height: var(--square-size);*/
    /*
    overflow: visible;
    position: relative;
        */
}

.rack-space {
    width: var(--tile-rack-size);
    height: var(--tile-rack-size);
    cursor: default;
    user-select: none;
    /*min-width: var(--square-size);
    min-height: var(--square-size);*/
    /*
    overflow: visible;
    position: relative;*/
}

.square-space .square-space-normal {
    display: grid;
    width: var(--square-size);
    height: var(--square-size);
    background-color: beige;
    position: absolute;
}

.square-space .square-space-centre {
    display: grid;
    width: var(--square-size);
    height: var(--square-size);
    background-color: pink;
    position: relative;
}

.square-space .square-space-multiplier {
    display: grid;
    width: var(--square-size);
    height: var(--square-size);
    /* indigo or crimson colour is useful for debugging */
    /*background-color: indigo;*/
    position: relative;
}

        /*    .square-space .center-square-container {
        background-color: pink;
        width: var(--square-size, 2.9vw);
        height: var(--square-size, 2.9vw);
        line-height: var(--square-size, 2.9vw);
        position: relative;
    }
    */
/*
    .square-space .square.tile-last-move {
        background-color: darkgoldenrod;
    }

    .square-space .square.tile-swapping {
        top: -10px;
        border: 1px solid black;
    }
    */
    /*
.square.square-centre {
    width: var(--square-size);
    height: var(--square-size);
    //line-height: var(--inner-square-size, 2.9vw);
    /*background-color: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transform: scale(0.70, 0.70);
}
*/
/*
.center-square-letter {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
*/

.black-star {
    display: grid;
    background-color: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transform: scale(0.70, 0.70);
}

.double-letter {
    display:flex;
    background-color: lightblue;
    clip-path: polygon( 12% 12%, 35% 12%, 42% 0%, 49% 12%, 57% 0%, 63% 12%, 88% 12%, 88% 36%, 100% 43%, 88% 50%, 100% 57%, 88% 64%, 88% 88%, 63% 88%, 56% 100%, 49% 88%, 42% 100%, 36% 88%, 12% 88%, 12% 64%, 0% 57%, 12% 50%, 0% 43%, 12% 36% );
    width: var(--multiplier-square-size);
    height: var(--multiplier-square-size);
    /*min-width: var(--multiplier-square-size);
    min-height: var(--multiplier-square-size);*/
    top: var(--multiplier-square-offset);
    left: var(--multiplier-square-offset);
    font-size: var(--board-square-annotation-fs);
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
}

.triple-letter {
    display: flex;
    background-color: royalblue;
    clip-path: polygon( 12% 12%, 29% 12%, 35% 0%, 42% 12%, 49% 0%, 57% 12%, 63% 0%, 70% 12%, 88% 12%, 88% 29%, 100% 36%, 88% 43%, 100% 50%, 88% 57%, 100% 64%, 88% 71%, 88% 88%, 71% 88%, 63% 100%, 56% 88%, 49% 100%, 42% 88%, 36% 100%, 29% 88%, 12% 88%, 12% 71%, 0% 64%, 12% 57%, 0% 50%, 12% 43%, 0% 36%, 12% 29% );
    width: var(--multiplier-square-size);
    height: var(--multiplier-square-size);
    /*min-width: var(--multiplier-square-size);
    min-height: var(--multiplier-square-size);*/
    top: var(--multiplier-square-offset);
    left: var(--multiplier-square-offset);
    font-size: var(--board-square-annotation-fs);
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
}

.double-word {
    display: flex;
    background-color: pink;
    clip-path: polygon( 12% 12%, 35% 12%, 42% 0%, 49% 12%, 57% 0%, 63% 12%, 88% 12%, 88% 36%, 100% 43%, 88% 50%, 100% 57%, 88% 64%, 88% 88%, 63% 88%, 56% 100%, 49% 88%, 42% 100%, 36% 88%, 12% 88%, 12% 64%, 0% 57%, 12% 50%, 0% 43%, 12% 36% );
    width: var(--multiplier-square-size);
    height: var(--multiplier-square-size);
    /*min-width: var(--multiplier-square-size);
    min-height: var(--multiplier-square-size);*/
    top: var(--multiplier-square-offset);
    left: var(--multiplier-square-offset);
    font-size: var(--board-square-annotation-fs);
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
}

.triple-word {
    display: flex;
    background-color: red;
    clip-path: polygon( 12% 12%, 29% 12%, 35% 0%, 42% 12%, 49% 0%, 57% 12%, 63% 0%, 70% 12%, 88% 12%, 88% 29%, 100% 36%, 88% 43%, 100% 50%, 88% 57%, 100% 64%, 88% 71%, 88% 88%, 71% 88%, 63% 100%, 56% 88%, 49% 100%, 42% 88%, 36% 100%, 29% 88%, 12% 88%, 12% 71%, 0% 64%, 12% 57%, 0% 50%, 12% 43%, 0% 36%, 12% 29% );
    width: var(--multiplier-square-size);
    height: var(--multiplier-square-size);
    /*min-width: var(--multiplier-square-size);
    min-height: var(--multiplier-square-size);*/
    top: var(--multiplier-square-offset);
    left: var(--multiplier-square-offset);
    font-size: var(--board-square-annotation-fs);
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
}

    .square.square-centre .tile-content {
        left: 0;
    }

    .tile-content-blank {
        color: darkred;
    }

    .high-value-tile-letter {
        color: blue;
    }

    .high-value-tile-score {
        color: navy;
        bottom: 1px;
        right: 1px;
        position: absolute;
    }
    /*
    .square-multiplier1, .square-multiplier2, .tile-content-score, .high-value-tile-score {
        font-size: var(--board-letter-value-fs, 0.9vw);
        line-height: 100%;
    }

    .square-multiplier1 {
        bottom: 48%;
        right: 52%;
    }

    .square-multiplier2 {
        top: 48%;
        left: 52%
    }
*/
    .tile-content-score, .high-value-tile-score {
        font-size: var(--board-letter-value-fs);
        line-height: 100%;
    }

    .tile-container {
        background-image: url("/Images/woodknots.jpg");
        background-size: 100% 100%;
        border-radius: 4px;
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0 auto;
        /*text-align: center;*/
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    /* Most recently placed move */
    .tile-container-recent {
        background-image: url("/images/woodknotsHighlight.jpg");
    }
    /* Current move tiles just dropped */
    .tile-container-new {
        background-image: url("/images/woodknotsPlacing.jpg");
    }

    /*
    .tile-in-rack {
        width: var(--tile-rack-size, 5vw);
        height: var(--tile-rack-size, 5vw);
        max-width: var(--tile-rack-size, 5vw);
        max-height: var(--tile-rack-size, 5vw);
        margin: 2px;
    }
        */
    .tile-x-out {
        background-image: url("/Images/x-out.gif");
        opacity: 0.6;
        border-radius: 4px;
        position: absolute;
        width: inherit;
        height: inherit;
        background-size: cover;
        top: 0px;
        left: 0px;
        margin: 0 auto;
        text-align: center;
        z-index: 11;
    }

    .tile-content {
        text-align: center;
        font-size: var(--board-letter-fs, 1.9vw);
        font-weight: bolder;
        width: inherit;
        position: relative;
        left: -2px;
        line-height: 1.5em;
    }

    .tile-content_2 {
        display: flex;
        height: var(--square-size);
        width: var(--square-size);
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .main-board-letter-fs {
        font-size: var(--board-letter-fs);
    }

    .main-board-letter-value-fs {
        font-size: var(--board-letter-value-fs);
        font-weight: bold;
    }

    .tile-rack-letter-fs {
        font-size: var(--rack-letter-fs);
    }

    .tile-rack-letter-value-fs {
        font-size: var(--rack-letter-value-fs);
        font-weight: bold;
    }


.blank-letter-selector {
    display: inline-block;
    height: var(--square-size);
    width: var(--square-size);
    background-image: url("/Images/woodknots.jpg");
    background-size: 100% 100%;
    border-radius: 4px;
    color: darkred;
    text-align: center;
    font-size: var(--board-letter-fs);
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
    user-select: none;
    margin: 3px;
}

.blank-letter-selector:hover {
    color: red;
}

.game-play-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

/*for player tile row */

.player-tiles {
    display: flex;
    position: relative;
    background-color: white;
    padding: 3px;
}

    .player-tiles .tile-container {
        display: flex;
        position: relative; /* Override absolute positioning on game square */
        background-color: white;
        margin: 4px;
    }
    
.tile-bag {
    display: flex;
    background-image: url("/Images/bag-green.png");
    background-size: 100% 100%;
    width: var(--tile-rack-size);
    height: var(--tile-rack-size);
    font-size: calc(round(down, var(--tile-rack-size)/3, 1));
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: end;
}


.tile-content-score {
    bottom: 1px;
    right: 1px;
    position: absolute;
}

/* For move currently being placed */
.tile-move-score-placing {
    bottom: 0px;
    left: 0px;
    position: absolute;
    font-size: var(--board-letter-value-fs);
    line-height: 100%;
    background-color: blue;
    color: white;
}

/* For most recent completed move */
.tile-move-score-final {
    bottom: 0px;
    left: 0px;
    position: absolute;
    font-size: var(--board-letter-value-fs);
    line-height: 100%;
    background-color: red;
    color: snow;
}


.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-plus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}


.bi-dash {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.bi-dash-lg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/%3E%3C/svg%3E");
}

.bi-plus-lg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
}

.computerlevel-indent {
    margin-left: 1.1em;
    font-style: italic;
}
